DATABASE_URL="postgresql://postgres:password@localhost:5432/zombies-wiki"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="password"
DATABASE_NAME="zombies-wiki"
DATABASE_PORT="5432"

DATABASE_URL_TEST="postgresql://postgres:password@localhost:5433/zombies_wiki"
DATABASE_USERNAME_TEST="postgres"
DATABASE_PASSWORD_TEST="password"
DATABASE_NAME_TEST="zombies_wiki"
DATABASE_PORT_TEST="5433"

MINIO_USERNAME="minioadmin"
MINIO_PASSWORD="minioadmin"
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"

S3_BUCKET_NAME="zombies-wiki"
S3_URL="http://localhost:9000" # localhost:MINIO_PORT
S3_ACCESS_KEY_ID="minioadmin" # Minio username
S3_SECRET_ACCESS_KEY="minioadmin" # Minio password
S3_PUBLIC_URL="http://localhost:9000/zombies-wiki/" # http://localhost:MINIO_PORT/BUCKET_NAME/

BETTER_AUTH_SECRET="+zG0diwaSbWvVTPSOmmui1u9KMOqvVSbZJJjRZuXd/Y=" # use openssl rand -base64 32 to generate a random secret
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

NEXT_PUBLIC_APP_URL=http://localhost:3000

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="password"