@import "tailwindcss";

@custom-variant pressed (&:is([data-pressed]));
@custom-variant image (& [data-slot="image"]);
@custom-variant starting-style (&:is([data-starting-style]));
@custom-variant ending-style (&:is([data-ending-style]));
@custom-variant focused (&:is([data-focused], :focus));
@custom-variant disabled (&:is([data-disabled], :disabled)) *;
@custom-variant highlighted (&:is([data-highlighted]));

@custom-variant svg-not-size (& svg:not([class*="size-"]));
@custom-variant svg (& svg);
@custom-variant button (& button);

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: #1c1c1c;
  --secondary-foreground: #ffffff;

  --success: oklch(0.7 0.259 141.88);
  --success-foreground: oklch(1 0 0);

  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.577 0.245 27.325);

  --warning: #f5a623;
  --warning-foreground: #ffffff;

  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.871 0.006 286.286);
  --ring: oklch(0.871 0.006 286.286);

  --image: oklch(0.7 0.1973 61.41);

  isolation: isolate;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);

  --muted: oklch(0.21 0.006 285.885);
  --muted-foreground: oklch(0.65 0.01 286);

  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);

  --accent: oklch(0.21 0.006 285.885);
  --accent-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --danger: oklch(0.396 0.141 25.723);
  --danger-foreground: oklch(0.637 0.237 25.331);

  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-image: var(--image);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --opacity-disabled: 0.5;
}

body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}

.react-renderer {
  @apply w-fit;
}
